<!DOCTYPE html>

<section ng-controller="navegadorAlmacenesVentaController">
<div class="panel panel-primary" id="panel-principal">
    <div class="panel-heading">
        <div align="center" class="panel-title"><a style="cursor:pointer;" ng-click="mostrarBuscarAlmacenesVenta_action();"><i class="fa fa-search-plus"></i>&nbsp;ALMACENES</a></div>
    </div>
  <div class="panel-body">
      <section id="no-more-tables">
          <table class="table table-bordered table-hover table-condensed"  >

              <thead class="cf">
                  <tr>
                      
                      <th>NOMBRE</th>
                      <th>ESTADO REGISTRO</th>
                      <th>SUCURSAL</th>                      
                      <th>&nbsp;</th>
                  </tr>
              </thead>
              <tbody>
                  <tr  ng-repeat="e in almacenVentaList" 
                       id="{{e.codAlmacenesVenta}}"
                       >                      
                      <td data-title="NOMBRE">&nbsp;{{e.nombreAlmacenVenta}}</td>
                      <td data-title="ESTADO">&nbsp;{{e.estadosRegistro.nombreEstado}}</td>
                      <td data-title="SUCURSAL">&nbsp;{{e.sucursalVentas.nombreSucursal}}</td>
                      
                      <td data-title="">                          
                          
                          <div class="dropdown">
                              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" data-aria-haspopup="true" data-aria-expanded="false">
                                  <i class="fa fa-ellipsis-v"></i>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a tabindex="-1"  ng-click="agregarAlmacenVenta_action();">
                                        Agregar
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" ng-click="editarAlmacenVenta_action(e);">
                                        Editar
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" ng-click="eliminarAlmacenVenta_action(e);">
                                        Eliminar
                                    </a>
                                </li>
                            </ul>                              
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </section>
      
      
      <div align="center">
          <button type="button" class="btn btn-primary" ng-click="atras_action()">
              <i class="fa fa-chevron-left"></i>
          </button>
          <button type="button" class="btn btn-primary" ng-click="siguiente_action()">
              <i class="fa fa-chevron-right"></i>
          </button>
      </div>
          
</div>

    <div class="panel-footer" align="center">
        
        <div class="btn-group">
            <p>
            <button type="button" class="btn btn-primary" ng-click="agregarAlmacenVenta_action();">
                <i class="fa fa-plus"></i>
                Registrar
            </button>                        
            </p>    
        </div>
    </div>
</div>

    
    <div id="agregarAlmacenVentaDialog" class="modal fade" role="dialog">
        <form>
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-check-circle"></i>Agregar Almacen Venta</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Nombre:</label>
                                <input class="form-control" ng-model="almacenVenta.nombreAlmacenVenta" />
                            </div>
                            <div class="col-md-6">
                                <label>Descripcion:</label>
                                <input  ng-model="almacenVenta.obsAlmacen" class="form-control" />
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Sucursal:</label>
                                <select class="form-control" ng-model="almacenVenta.sucursalVentas.codSucursal" ng-options="e.codItem as e.nombreItem for e in sucursalVentasList"></select>
                            </div>                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="guardarAlmacenVenta_action();">
                            <i class="fa fa-check"></i>
                            Guardar
                        </button>
                        
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$('#agregarAlmacenVentaDialog').modal('hide');">
                            <i class="fa fa-times-circle"></i>
                            Cancelar
                        </button>
                    </div>
                    
                </div>

            </div>
        </form>
    </div>
    
    <div id="editarAlmacenVentaDialog" class="modal fade" role="dialog">
        <form>
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-check-circle"></i> Editar Almacenes Venta</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Nombre:</label>
                                <input class="form-control" ng-model="almacenVenta.nombreAlmacenVenta" />
                            </div>
                            <div class="col-md-6">
                                <label>Descripcion:</label>
                                <input  ng-model="almacenVenta.obsAlmacen" class="form-control" />
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Sucursal:</label>
                                <select class="form-control" ng-model="almacenVenta.sucursalVentas.codSucursal" ng-options="e.codItem as e.nombreItem for e in sucursalVentasList"></select>
                            </div>                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="guardarEditarAlmacenesVenta_action();">
                            <i class="fa fa-check"></i>
                            Guardar
                        </button>
                        
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$('#editarAlmacenesVentaDialog').modal('hide');">
                            <i class="fa fa-times-circle"></i>
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    
    
    <div id="buscarAlmacenesVentaDialog" class="modal fade" role="dialog">
        <form>
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-search"></i> Buscar AlmacenesVenta</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row show-grid">                        
                            <div class="col-md-6">
                                <label>Nombre:</label>
                                <input class="form-control" ng-model="almacenVentaBuscar.nombreAlmacenesVenta" />
                            </div>
                            <div class="col-md-6">
                                <label>Ruc:</label>
                                <input  ng-model="almacenVentaBuscar.ruc" class="form-control"    />
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Direccion:</label>
                                <input  ng-model="almacenVentaBuscar.direccion" class="form-control"    />
                            </div>
                            <div class="col-md-6">
                                <label>Ciudad:</label>
                                <select class="form-control" ng-model="almacenVentaBuscar.ciudad.codCiudad" ng-options="e.codItem as e.nombreItem for e in ciudadList"></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="buscarAlmacenesVenta_action();">Buscar</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
    
    <!-- alerta -->
      
      <div id="mensajeDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-search fa-1x"></i> Mensaje</h4>
                </div>
                <div class="modal-body">
                    <i class="fa fa-warning fa-5x"></i>
                    {{mensaje}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$('#mensajeDialog').dialog('hide');">Aceptar</button>
                </div>
            </div>

        </div>
    </div>
</section>
       