<!DOCTYPE html>

<section ng-controller="navegadorCajaChicaController">
<div class="panel panel-primary" id="panel-principal">
    <div class="panel-heading">
        <div align="center" class="panel-title"><a style="cursor:pointer;" ng-click="mostrarBuscarCajaChica_action();"><i class="fa fa-search-plus"></i>&nbsp;CAJA CHICA</a></div>
    </div>
  <div class="panel-body">
      <section id="no-more-tables">
          <table class="table table-bordered table-hover table-condensed"  >

              <thead class="cf">
                  <tr>
                      
                      <th>NRO</th>
                      <th>FECHA TURNO</th>
                      <th>USUARIO</th>
                      <th>MONTO INICIAL</th>
                      <th>CAJA</th>                      
                      <th>ESTADO</th>                      
                      <th>&nbsp;</th>
                  </tr>
              </thead>
              <tbody>
                  <tr  ng-repeat="c in cajaChicaList" 
                       id="{{c.codCajaChica}}"
                       >                      
                      <td data-title="NRO">&nbsp;{{c.codCajaChica}}</td>
                      <td data-title="FECHA TURNO">&nbsp;{{c.fechaTurno}}</td>
                      <td data-title="USUARIO">&nbsp;{{c.personal.nombrePersonal}} &nbsp;{{c.personal.apPaternoPersonal}} &nbsp;{{c.personal.apMaternoPersonal}}</td>
                      <td data-title="MONTO INICIAL">&nbsp;{{c.montoInicial}}</td>
                      <td data-title="CAJA">&nbsp;{{c.caja.nombreCaja}}</td>
                      <td data-title="ESTADO">&nbsp;{{c.estadoApertura.nombreApertura}}</td>                      
                      <td data-title="">
                          
                          <div class="dropdown">
                              <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" data-aria-haspopup="true" data-aria-expanded="false">
                                    <i class="fa fa-ellipsis-v"></i>
                              </a>
                              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a tabindex="-1"  ng-click="agregarCajaChica_action();">
                                        Agregar
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" ng-click="editarCajaChica_action(c);">
                                        Editar
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" ng-click="eliminarCajaChica_action(c);">
                                        Eliminar
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" ng-click="cerrarCajaChica_action(c);">
                                        Cerrar
                                    </a>
                                </li>
                            </ul>                              
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </section>
      
      
      <div align="center">
          <button type="button" class="btn btn-primary" ng-click="atras_action()">
              <i class="fa fa-chevron-left"></i>
          </button>
          <button type="button" class="btn btn-primary" ng-click="siguiente_action()">
              <i class="fa fa-chevron-right"></i>
          </button>
      </div>
          
</div>

    <div class="panel-footer" align="center">
        
        <div class="btn-group">
            <p>
            <button type="button" class="btn btn-primary" ng-click="agregarCajaChica_action();">
                <i class="fa fa-plus"></i>
                Registrar
            </button>            
            <button type="button" class="btn btn-primary" ng-click="imprimirCajaChica_action();">
                <i class="fa fa-edit"></i>
                Imprimir
            </button>
            </p>    
        </div>
    </div>
</div>

    
    <div id="agregarCajaChicaDialog" class="modal fade" role="dialog">
        <form>
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-check-circle"></i> Agregar Caja Chica</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Fecha:</label>
                                <input class="form-control" ng-model="cajaChica.fechaTurno" readonly />
                            </div>
                            <div class="col-md-6">
                                <label>Usuario:</label>
                                <input  class="form-control" ng-model="cajaChica.personal.nombrePersonal"  readonly />
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Estado:</label>
                                <input  ng-model="cajaChica.estadoApertura.nombreApertura" class="form-control" readonly   />
                            </div>
                            <div class="col-md-6">
                                <label>Monto inicial:</label>
                                <input  ng-model="cajaChica.montoInicial" class="form-control"    />
                            </div>
                            
                        </div>
                        <div class="row show-grid">                        
                            <div class="col-md-6">                            
                                <label>Caja:</label>
                                <select class="form-control" ng-model="cajaChica.caja.codCaja" ng-options="c.codItem as c.nombreItem for c in cajaList"></select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="guardarCajaChica_action();">
                            <i class="fa fa-check"></i>
                            Guardar
                        </button>
                        
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$('#agregarCajaChicaDialog').modal('hide');">
                            <i class="fa fa-times-circle"></i>
                            Salir
                        </button>
                    </div>
                    
                </div>

            </div>
        </form>
    </div>
    
    
    <div id="cerrarCajaChicaDialog" class="modal fade" role="dialog">
        <form>
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-check-circle"></i>Cerrar Caja Chica</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Cajero:</label>
                                <input class="form-control" ng-model="cajaChica.personal.nombrePersonal" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>Fecha apertura:</label>
                                <input  ng-model="cajaChica.fechaTurno" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-12">
                                <label>Monto inicial:</label>
                                <input  ng-model="cajaChica.montoInicial" class="form-control"  disabled  />
                            </div>                            
                        </div>
                        <div class="row show-grid">                        
                            <div class="col-md-12">                            
                                <label>Ingresos:</label>
                                <input  ng-model="cajaChica.montoIngresos" class="form-control"  disabled  />
                            </div>                            
                        </div>
                        <div class="row show-grid">                        
                            <div class="col-md-12">                            
                                <label>Egresos:</label>
                                <input  ng-model="cajaChica.montoEgresos" class="form-control"  disabled  />
                            </div>                            
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-12">
                                <label>Saldo:</label>
                                <input  ng-model="cajaChica.montoSaldo" class="form-control" disabled />
                            </div>                            
                        </div>
                        

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="guardarCerrarCajaChica_action();">
                            <i class="fa fa-check"></i>
                            Cerrar
                        </button>
                        
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$('#cerrarCajaChicaDialog').modal('hide');">
                            <i class="fa fa-times-circle"></i>
                            Cancelar
                        </button>
                    </div>
                    
                </div>

            </div>
        </form>
    </div>
    
    <div id="editarCajaChicaDialog" class="modal fade" role="dialog">
        <form>
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-check-circle"></i> Editar CajaChica</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Nombre:</label>
                                <input class="form-control" ng-model="empresa.nombreCajaChica" />
                            </div>
                            <div class="col-md-6">
                                <label>Ruc:</label>
                                <input  ng-model="empresa.ruc" class="form-control" />
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Direccion:</label>
                                <input  ng-model="empresa.direccion" class="form-control"    />
                            </div>
                            <div class="col-md-6">
                                <label>Telefono:</label>
                                <input  ng-model="empresa.telefono" class="form-control"    />
                            </div>
                        </div>
                        <div class="row show-grid">                        
                            <div class="col-md-6">                            
                                <label>Ciudad:</label>
                                <select class="form-control" ng-model="empresa.ciudad.codCiudad" ng-options="c.codItem as c.nombreItem for c in ciudadList"></select>
                            </div>
                            <div class="col-md-6">
                                <label>Nom. Impuesto:</label>
                                <input  ng-model="empresa.nombreImpuesto" class="form-control"    />
                            </div>
                        </div>
                        <div class="row show-grid">                        
                            <div class="col-md-6">                            
                                <label>Porc. Impuesto:</label>
                                <input ng-model="empresa.porcentajeImpuesto" class="form-control"  />
                            </div>
                            <div class="col-md-6">
                                <label>Moneda:</label>
                                <select class="form-control" ng-model="empresa.moneda.codMoneda" ng-options="c.codItem as c.nombreItem for c in monedaList"></select>
                            </div>
                        </div>
                        <div class="row show-grid">                        
                            <div class="col-md-6">                            
                                <label>Imagen:</label>
                                <input type="file" name="file1" id="file1" />
                            </div>                            
                            <div class="col-md-6">                            
                                <label>Vista Previa:</label>
                                <img id="previa1" src="{{empresa.logotipoCajaChica}}" />
                                <!--data:image/jpg;base64,-->
                            </div>                            
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="guardarEditarCajaChica_action();">
                            <i class="fa fa-check"></i>
                            Guardar
                        </button>
                        
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$('#editarCajaChicaDialog').modal('hide');">
                            <i class="fa fa-times-circle"></i>
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    
    
    <div id="buscarCajaChicaDialog" class="modal fade" role="dialog">
        <form>
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-search"></i> Buscar CajaChicas</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row show-grid">                        
                            <div class="col-md-6">
                                <label>Nombre:</label>
                                <input class="form-control" ng-model="cajaChicaBuscar.nombreCajaChica" />
                            </div>
                            <div class="col-md-6">
                                <label>Ruc:</label>
                                <input  ng-model="cajaChicaBuscar.ruc" class="form-control"    />
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Direccion:</label>
                                <input  ng-model="cajaChicaBuscar.direccion" class="form-control"    />
                            </div>
                            <div class="col-md-6">
                                <label>Ciudad:</label>
                                <select class="form-control" ng-model="cajaChicaBuscar.ciudad.codCiudad" ng-options="c.codItem as c.nombreItem for c in ciudadList"></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="buscarCajaChica_action();">Buscar</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
    
    <!-- alerta -->
      
      <div id="mensajeDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-search fa-1x"></i> Mensaje</h4>
                </div>
                <div class="modal-body">
                    <i class="fa fa-warning fa-5x"></i>
                    {{mensaje}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$('#mensajeDialog').dialog('hide');">Aceptar</button>
                </div>
            </div>

        </div>
    </div>
</section>
       