<section ng-controller="reporteProductosVencidosController" ng-cloak>
    <form>
        <div class="panel panel-primary" id="panel-principal">
            <div class="panel-heading">
                <div align="center" class="panel-title">REPORTE DE PRODUCTOS VENCIDOS</div>
            </div>
            <div class="panel-body">

                <div class="row show-grid">
                    <div class="col-md-4">                                            
                    </div>
                    <div class="col-md-4">
                        <label>Almacen:</label>
                        <p>{{usuarioPersonal.almacenesVenta.nombreAlmacenVenta}}</p>
                    </div>                    
                    <div class="col-md-4">
                                            
                    </div>
                </div>
                <div class="row show-grid">
                    <div class="col-md-4">
                                            
                    </div>
                    
                    <div class="col-md-4">
                        <label>Gestion:</label>
                        <p>{{usuarioPersonal.gestion.nombreGestion}} ({{usuarioPersonal.gestion.fechaInicio}}-{{usuarioPersonal.gestion.fechaFinal}})</p>
                    </div>
                    <div class="col-md-4">
                                            
                    </div>
                </div>
                <div class="row show-grid">
                    <div class="col-md-4">
                                            
                    </div>
                    
                    <div class="col-md-4">
                        <label>Dias Por Vencer:</label><br/>
                        <input ng-model="datosReporte.diasPorVencer" class="form-control"  />
                    </div>
                    <div class="col-md-4">
                                            
                    </div>
                </div>
                <br/>

                


            </div>
            <div class="panel-footer" align="center">
                <div class="btn-group">
                    <p>
                        <button type="submit" class="btn btn-primary" ng-click="verReporte()">
                            <i class="fa fa-file-archive-o"></i>
                            Ver Reporte
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </form>
</section>