

<section ng-controller="agregarIngresosVentaDevolucionController" ng-cloak>
    <div class="panel panel-primary" id="panel-principal">
        <div class="panel-heading">            
            <div align="center" class="panel-title">AGREGAR DEVOLUCION
                <div class="float-right">
              <div class="dropdown">
                  <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuButton1" data-toggle="dropdown" data-aria-haspopup="true" data-aria-expanded="false" style="color: white">
                      <i class="fa fa-ellipsis-v"></i>
                  </a>                  
              </div>
          </div>
            </div>
        </div>
        <div class="panel-body">
            <div>
                <div align="center">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Nro devolucion</label>
                                <input ng-model="devolucion.nroDevolucion" class="form-control"  disabled="true" />                                
                            </div>                            
                            <div class="col-sm-4">
                                <label>Cliente</label>
                                <input ng-model="devolucion.clientes.nombreCliente" class="form-control"  disabled="true" />
                            </div>
                            <div class="col-sm-4">
                                <label>Fecha devolucion</label>
                                <input ng-model="devolucion.fechaDevolucion" class="form-control"  disabled="true" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Nro factura</label>
                                <input ng-model="devolucion.facturasEmitidas.nroFactura" class="form-control"  disabled="true" />                                
                            </div>                            
                            <div class="col-sm-8">
                                <label>Observacion</label>
                                <input ng-model="devolucion.obsDevolucion" class="form-control"   />
                            </div>                            
                        </div>

                    </div>
                </div>
            </div>
            <section id="no-more-tables">
                
                    <table class="table table-bordered table-hover cf table-striped" >
                        <thead class="cf">
                            <tr>
                                <th>ITEM</th>
                                <th>UNID.</th>
                                <th>C/U BS</th>
                                <th>CANT</th>
                                <th>CANT RETORNA</th>
                                <th style="width: 10%">SUB TOTAL BS</th>
                                <th style="width: 10%">DESC BS</th>
                                <th>TOTAL BS</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  ng-repeat="row in salidasVentaDetalleList">
                                <td data-title="PROD/SERVICIO">&nbsp;{{row.productos.nombreProducto}}</td>
                                <td data-title="UNID.">&nbsp;{{row.unidadesMedida.nombreUnidadMedida}}</td>                                
                                <td data-title="C/U BS">&nbsp;{{row.costoUnitario}}</td>
                                <td data-title="CANT">{{row.cantSalida}}</td>
                                <td data-title="CANT RETORNA">{{row.cantRetornar}}</td>
                                <td data-title="SUB TOTAL BS">&nbsp;{{row.montoSubTotal}}</td>
                                <td data-title="DESC BS" >{{row.montoDescuento}}({{row.porcDescuento}}%)</td>
                                <td data-title="TOTAL BS">&nbsp;{{row.montoTotal}}</td>                                
                                <td data-title="">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="" id="dropdownMenuButton1" data-toggle="dropdown" data-aria-haspopup="true" data-aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuButton1">
                                            <li>
                                                <a tabindex="-1"  ng-click="verSalidaVentaDetalle_action(row);">
                                                    Devolver
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot style="width: 100%">
                            <tr ng-class="salidasVentaDetalleList.length===0?'hidden':''">
                                <td >&nbsp;</td>
                                <td >&nbsp;</td>
                                <td >&nbsp;</td>
                                <td >&nbsp;</td>
                                <td >&nbsp;Total</td>
                                <td >&nbsp;{{salidasVentaTotal.montoSubTotal}}</td>                                
                                <td >&nbsp;{{salidasVentaTotal.montoDescuento}}</td>
                                <td >&nbsp;{{salidasVentaTotal.montoTotal}}</td>
                                <td >
                                    
                                </td>
                            </tr>
                            <tr ng-class="salidasVenta.tiposVenta.codTipoVenta===1?'hidden':''">
                                <td >&nbsp;</td>
                                <td >&nbsp;</td>
                                <td ></td>
                                <td >&nbsp;</td>
                                <td >&nbsp;</td>                                
                                <td >&nbsp;Monto Inicial</td>
                                <td style="width: 10%" data-title="TOTAL"><input ng-model="salidasVentaTotal.montoCancelado" class="form-control" type="number"  /></td>
                                <td >
                                    
                                </td>
                            </tr>
                        </tfoot>
                        
                    </table>
                
            </section>
                
                    
            
        </div>
        <div class="panel-footer" align="center">
            
            <button type="button" class="btn btn-primary" ng-click="guardarDevolucionVenta_action();" >
                <i class="fa fa-save">                    
                </i>
                Guardar

            </button>            
            <button type="button" class="btn btn-primary"  ng-click="cancelar_action();" >
                    <i class="fa fa-times-circle"></i>
                    Cancelar
            </button>
            
        </div>
    </div>
    
    
    
    <!-- ui-dialog -->
        <div id="agregarProductoDialog" class="modal fade" role="dialog">
            <div class="modal-dialog">                
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-check fa-1x"></i>Registrar Producto</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                        <div class="row show-grid">
                            <div class="col-md-12">
                                <label>Grupo:</label>
                                <select class="form-control" ng-model="productosBuscar.grupoProducto.codGrupoProducto" ng-change="grupoProducto_change()">
                                    <option value="0">-NINGUNO-</option>
                                    <option ng-repeat="p in gruposProductoList"
                                            value="{{p.codItem}}">
                                            {{p.nombreItem}}
                                    </option>
                                </select>
                            </div>                            
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-12">
                                <label>Sub Grupo:</label>
                                <select class="form-control" ng-model="productosBuscar.subGruposProducto.codSubgrupo">
                                    <option value="0">-NINGUNO-</option>
                                    <option ng-repeat="p in subGruposList"
                                            value="{{p.codItem}}">
                                            {{p.nombreItem}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-12">
                                <label>Nombre:</label>                                
                                <div class="input-group">                                    
                                    <input ng-model="productosBuscar.nombreProducto" type="text" class="form-control" placeholder="Nombre de Producto">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary" ng-click="buscarProducto_action();">                                            
                                            Buscar
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <br/>
                        
                        <div class="row show-grid">
                            <div style="height: 250px;overflow-y: auto;">
                                <table class="table table-bordered table-hover" >
                                    <thead class="">
                                        <tr>
                                            <th>NOMBRE</th>                                            
                                            <th>GRUPO</th>
                                            <th>UNID.</th>
                                            <th>PRECIO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  ng-repeat="m in productosBuscarList" 
                                             id="{{m.codProducto}}">
                                            <td><a href="" ng-click="seleccionarProducto_action(m)" style="color: #337ab7" >{{m.nombreProducto}}</a></td>
                                            <td>{{m.grupoProducto.nombreGrupoProducto}}</td>
                                            <td>{{m.unidadesMedida.nombreUnidadMedida}}</td>
                                            <td>{{m.precioVenta}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br/>
                        <div class="row show-grid">
                            <div class="col-md-4">
                                <label>Cant. Rest.:</label>                                
                                <input ng-model="productosSalida.cantRestante" type="text" class="form-control" readonly="true">
                            </div>
                            <div class="col-md-4">
                                <label>Unid.:</label>                                
                                <input ng-model="productosSalida.unidadesMedida.nombreUnidadMedida" type="text" class="form-control" readonly="true">                                
                            </div>
                            <div class="col-md-4">
                                <label>Cant Salida.:</label>                                
                                <input ng-model="productosSalida.cantSalida" type="text" class="form-control">                                                                
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="guardarAgregarProducto_action();">
                            <i class="fa fa-check-circle"></i>
                            Aceptar    
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$('#agregarProductoDialog').modal('hide');">
                            <i class="fa fa-times-circle"></i>
                            Cancelar
                        </button>
                        
                    </div>
                </div>

            </div>
        </div>
        
        <!-- ui-dialog -->
        <div id="detalleEtiquetasDialog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-check fa-1x"></i>Detalle</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                        
                        <div class="row show-grid">
                            <div class="col-sm-12">
                                <div class="alert alert-info" role="alert">
                                    <strong>Producto :</strong> {{sadSeleccionado.productos.nombreProducto}}
                                </div>                                
                            </div>
                        </div>
                        
                        <div class="row show-grid">
                            <div style="height: 250px;overflow-y: auto;">
                                <table    class="table table-bordered table-hover" >
                                    <thead class="">
                                        <tr>
                                            <th>Fecha&nbsp;</th>
                                            <th>Nro ingreso&nbsp;</th>
                                            <th>Stock&nbsp;</th>
                                            <th>Unid.&nbsp;</th>                                            
                                            <th>Cant vendida&nbsp;</th>
                                            <th>Cant devolver&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in sadSeleccionado.salidasVentaDetalleIngresosList">
                                            <td>{{row.ingresosVentaDetalle.ingresosVenta.fechaIngresoVenta}}</td>
                                            <td>{{row.ingresosVentaDetalle.ingresosVenta.nroIngresoVenta}}</td>
                                            <td>{{row.ingresosVentaDetalle.cantRestante}}</td>
                                            <td>{{row.ingresosVentaDetalle.unidadesMedida.nombreUnidadMedida}}</td>
                                            <td>{{row.cantSacar}}</td>
                                            <td><input  class="form-control" ng-model="row.cantRetornado" type="number" ng-change="cantEtiquetas_change(row)" /></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>total</th>
                                            <th></th>                                            
                                            <th>{{0}}</th>
                                            <th></th>                                            
                                            <th></th>                                            
                                            <th></th>                                            
                                        </tr>
                                    </tfoot>
                                </table>
                                
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="guardarDetalleCantSacar_action();">
                            <i class="fa fa-check-circle"></i>
                            Aceptar    
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$('#detalleEtiquetasDialog').modal('hide');">
                            <i class="fa fa-times-circle"></i>
                            Cancelar
                        </button>
                        
                    </div>
                </div>

            </div>
        </div>
        
    	<!-- ui-dialog editar -->
        <div id="editarDescuentoDialog" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-check fa-1x"></i>Establecer Descuento</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Descuento:</label>
                                <select class="form-control" ng-model="codDescuento" ng-options="e.codItem as e.nombreItem for e in descuentosList"></select>
                                
                            </div>
                            <div class="col-md-6">
                                <label>% Descuento:</label>
                                <input class="form-control" ng-model="porcDescuento" type="number" />                                
                            </div>
                        </div>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="guardarEditarDescuento_action();">
                            <i class="fa fa-check-circle"></i>
                            Aceptar    
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$('#editarDescuentoDialog').modal('hide');">
                            <i class="fa fa-times-circle"></i>
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        

      <!-- alerta -->
      
      <div id="mensajeDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-warning fa-1x"></i> Mensaje</h4>
                </div>
                <div class="modal-body">
                    <i class="fa fa-warning fa-5x"></i>
                    {{mensaje}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$('#mensajeDialog').modal('hide');">Aceptar</button>
                </div>
            </div>

        </div>
    </div>
      
      
      <div id="agregarLibroComprasDialog" class="modal fade" role="dialog">
        <form>
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-check"></i>Libro de compras</h4>
                    </div>
                    <div class="modal-body">    
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Proveedor *</label>                                
                                <div class="input-group">
                                    <select class="form-control" ng-model="libroCompras.proveedores.codProveedor" ng-options="e.codItem as e.nombreItem for e in proveedoresList" ng-change="proveedor_change()"></select>
                                    <div class="input-group-btn">                    
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButtonPL" data-toggle="dropdown" data-aria-haspopup="true" data-aria-expanded="false">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenuButtonPL">
                                            <li><a  ng-click="actualizarProveedores_action();">Actualizar</a></li>
                                            <li><a  ng-click="abrirProveedores_action();">Abrir</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-md-6">
                                <label>Nit Proveedor *</label>
                                <input class="form-control" ng-model="libroCompras.proveedores.nitProveedor" readonly  />
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Nro Factura *</label>
                                <input class="form-control" ng-model="libroCompras.nroFactura" />
                            </div>                            
                            <div class="col-md-6">
                                <label>Nro DUI </label>
                                <input class="form-control" ng-model="libroCompras.nroDUI" />
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Nro. Autorizacion *</label>
                                <input  ng-model="libroCompras.nroAutorizacion" class="form-control"    />
                            </div>
                            <div class="col-md-6">                                            
                                <label>Codigo Control *</label>                                
                                <input ng-model="libroCompras.codigoControl" class="form-control"    />
                            </div>                            
                        </div>
                        <div class="row show-grid">                        
                            <div class="col-md-6" id="fecha">
                                <label>Fecha *</label>
                                <div class="input-group date">
                                    <input ng-model="libroCompras.fechaLibro" type="text" class="form-control" placeholder="fecha libro" readonly="" >
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                
                            </div>
                        </div>
                        
                        
                        <div class="row show-grid">                        
                            <div class="col-md-6">
                                <label>Importe Total *</label>
                                <input  ng-model="libroCompras.totalFactura" class="form-control"  placeholder="Monto" ng-change="importe_change()" />
                            </div>
                            <div class="col-md-6">                                            
                                <label>Importe no sujeto a Credito Fiscal:</label>                                
                                <input ng-model="libroCompras.importeNoSujetoCreditoFiscal" class="form-control"  ng-change="importe_change()"  />
                            </div>
                        </div>
                        <div class="row show-grid">                                                    
                            <div class="col-md-6">
                                <label>Descuentos y Rebajas:</label>
                                <input ng-model="libroCompras.descuentosBonificaciones" class="form-control" ng-change="importe_change()"   />
                            </div>
                            <div class="col-md-6">                                            
                                <label>Importe Pagado:</label>                                
                                <input ng-model="libroCompras.importePagado" class="form-control"  readonly     />
                            </div>
                        </div>
                        
                        <div class="row show-grid">                        
                            <div class="col-md-6">
                                <label>Importe Base para Credito Fiscal *</label>
                                <input ng-model="libroCompras.importeBaseCreditoFiscal" class="form-control"  readonly=""   />
                            </div>
                            <div class="col-md-6">                            
                                <label>Credito Fiscal *</label>
                                <input  ng-model="libroCompras.importeCreditoFiscal" class="form-control"  readonly=""   />                                
                            </div>
                            
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">                                            
                                <label>Tipo Doc.:</label>
                                <select class="form-control" ng-model="libroCompras.tiposDocumentoLibrosCompra.codTipoDocumentoLibroCompra" ng-options="e.codItem as e.nombreItem for e in tiposDocumentoLibroComprasList"></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="guardarLibroCompras_action();">
                            <i class="fa fa-check"></i>
                            Aceptar
                        </button>
                        
                        
                    </div>
                    
                </div>

            </div>
        </form>
    </div>
      <div id="agregarReciboComprasDialog" class="modal fade" role="dialog">
        <form>
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-check"></i>Recibo de compras</h4>
                    </div>
                    <div class="modal-body">    
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Proveedor:</label>
                                <div class="input-group">
                                    <select class="form-control" ng-model="reciboCompras.proveedor.codProveedor" ng-options="e.codItem as e.nombreItem for e in proveedoresList" ng-change="proveedor_change1()"></select>
                                    <div class="input-group-btn">                    
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" data-aria-haspopup="true" data-aria-expanded="false">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenuButton">
                                            <li><a  ng-click="actualizarProveedores_action();">Actualizar</a></li>
                                            <li><a  ng-click="abrirProveedores_action();">Abrir</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-md-6">
                                <label>Nit Proveedor:</label>
                                <input class="form-control" ng-model="reciboCompras.proveedor.nitProveedor" readonly  />
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Nro Recibo:</label>
                                <input class="form-control" ng-model="reciboCompras.nroRecibo" />
                            </div>                            
                            <div class="col-md-6" id="fecha_recibo">
                                <label>Fecha de Recibo:</label>
                                <div class="input-group date">
                                    <input ng-model="reciboCompras.fechaRecibo" type="text" class="form-control" placeholder="fecha recibo" readonly="" >
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Importe total:</label>
                                <input  ng-model="reciboCompras.importeTotal" class="form-control"  ng-change="importeRecibo_change()"   />
                            </div>
                            <div class="col-md-6">                                            
                                <label>Descuentos y Rebajas:</label>                                
                                <input ng-model="reciboCompras.descuentosRebajas" class="form-control"  ng-change="importeRecibo_change()"  />
                            </div>                            
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Importe cancelado:</label>
                                <input  ng-model="reciboCompras.importeCancelado" class="form-control"  readonly="true"   />
                            </div>
                            <div class="col-md-6" id="fecha_pago">
                                <label>Fecha de Pago:</label>
                                <div class="input-group date">
                                    <input ng-model="reciboCompras.fechaPago" type="text" class="form-control" placeholder="fecha pago" readonly="" >
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>                            
                        </div>                        
                        <div class="row show-grid">
                            <div class="col-md-12">
                                <label>Glosa:</label>
                                <input  ng-model="reciboCompras.glosa" class="form-control"    />
                            </div>                            
                        </div>
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="guardarReciboCompras_action();">
                            <i class="fa fa-check"></i>
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>