<section ng-controller="reporteVentasFacturadasController" ng-cloak>
    <form>
        <div class="panel panel-primary" id="panel-principal">
            <div class="panel-heading">
                <div align="center" class="panel-title">VENTAS FACTURADAS</div>      
            </div>
            <div class="panel-body">

                <div class="row show-grid">
                    <div class="col-md-3">
                                            
                    </div>
                    <div class="col-md-3">
                        <label>Cliente:</label>
                        <select class="form-control" ng-model="datosReporte.codCliente" >
                            <option value="0">-NINGUNO-</option>
                            <option ng-repeat="p in  clientesList"
                                    value="{{p.codItem}}">
                                {{p.nombreItem}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Tipo de Venta:</label>
                        <select class="form-control" ng-model="datosReporte.codTipoVenta" >
                            <option value="0">-NINGUNO-</option>
                            <option ng-repeat="p in  tiposVentaList"
                                    value="{{p.codItem}}">
                                {{p.nombreItem}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                                            
                    </div>
                </div>
                <div class="row show-grid">
                    <div class="col-md-3">
                                            
                    </div>
                    <div class="col-md-3" id="fecha_inicio">
                                <label>Fecha Inicio:</label>
                                <div class="input-group date">
                                    <input ng-model="datosReporte.fechaInicio" type="text" class="form-control" placeholder="fecha inicio" readonly="" >
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                    </div>
                    <div class="col-md-3" id="fecha_final">
                                <label>Fecha Final:</label>
                                <div class="input-group date">
                                    <input ng-model="datosReporte.fechaFinal" type="text" class="form-control" placeholder="fecha final" readonly="" >
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                    </div>
                    <div class="col-md-3">
                                            
                    </div>
                </div>
                
                    
                
                <br/>

                


            </div>
            <div class="panel-footer" align="center">
                <div class="btn-group">
                    <p>
                        <button type="submit" class="btn btn-primary" ng-click="verReporte()">
                            <i class="fa fa-file-archive-o"></i>
                            Ver Reporte
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </form>
</section>