<!DOCTYPE html>

<section ng-controller="navegadorSucursalVentasController">
<div class="panel panel-primary" id="panel-principal">
    <div class="panel-heading">
        <div align="center" class="panel-title"><a style="cursor:pointer;" ng-click="mostrarBuscarSucursalVenta_action();"><i class="fa fa-search-plus"></i>&nbsp;SUCURSAL</a></div>
    </div>
  <div class="panel-body">
      <section id="no-more-tables">
          <table class="table table-bordered table-hover table-condensed"  >

              <thead class="cf">
                  <tr>
                      
                      <th>NOMBRE</th>
                      <th>DIRECCION</th>
                      <th>TELEFONO</th>
                      <th>EMAIL</th>
                      <th>ENCARGADO</th>
                      <th>EMPRESA</th>
                      <th>ESTADO</th>                      
                      <th>&nbsp;</th>
                  </tr>
              </thead>
              <tbody>
                  <tr  ng-repeat="e in sucursalVentaList" 
                       id="{{e.codSucursal}}"
                       >
                      <td data-title="NOMBRE">&nbsp;{{e.nombreSucursal}}</td>
                      <td data-title="DIRECCION">&nbsp;{{e.direccionSucursal}}</td>                      
                      <td data-title="TELEFONO">&nbsp;{{e.telefonoSucursal}}</td>
                      <td data-title="EMAIL">&nbsp;{{e.emailSucursal}}</td>
                      <td data-title="ENCARGADO">&nbsp;{{e.representante}}</td>
                      <td data-title="EMPRESA">&nbsp;{{e.empresas.nombreEmpresa}}</td>
                      <td data-title="ESTADO">&nbsp;{{e.estadosRegistro.codEstado}}</td>                      
                      <td data-title="">
                          <div class="dropdown">
                              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" data-aria-haspopup="true" data-aria-expanded="false">
                                  <i class="fa fa-ellipsis-v"></i>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a tabindex="-1"  ng-click="agregarSucursalVenta_action();">
                                        Agregar
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" ng-click="editarSucursalVenta_action(e);">
                                        Editar
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" ng-click="eliminarSucursalVenta_action(e);">
                                        Eliminar
                                    </a>
                                </li>
                            </ul>                              
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </section>
      
      
      <div align="center">
          <button type="button" class="btn btn-primary" ng-click="atras_action()">
              <i class="fa fa-chevron-left"></i>
          </button>
          <button type="button" class="btn btn-primary" ng-click="siguiente_action()">
              <i class="fa fa-chevron-right"></i>
          </button>
      </div>
          
</div>

    <div class="panel-footer" align="center">
        
        <div class="btn-group">
            <p>
            <button type="button" class="btn btn-primary" ng-click="agregarSucursalVenta_action();">
                <i class="fa fa-plus"></i>
                Registrar
            </button>
            </p>    
        </div>
    </div>
</div>
    
    <div id="agregarSucursalVentaDialog" class="modal fade" role="dialog">
        <form>
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-check-circle"></i> Agregar Sucursal</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Nombre:</label>
                                <input class="form-control" ng-model="sucursalVenta.nombreSucursal" />
                            </div>
                            <div class="col-md-6">
                                <label>Direccion:</label>
                                <input  ng-model="sucursalVenta.direccionSucursal" class="form-control" />
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Telefono:</label>
                                <input  ng-model="sucursalVenta.telefonoSucursal" class="form-control"    />
                            </div>
                            <div class="col-md-6">
                                <label>Email:</label>
                                <input  ng-model="sucursalVenta.emailSucursal" class="form-control"    />
                            </div>
                        </div>
                        <div class="row show-grid">                                                    
                            <div class="col-md-6">
                                <label>Encargado:</label>
                                <input  ng-model="sucursalVenta.representante" class="form-control"    />
                            </div>
                            <div class="col-md-6">                            
                                <label>Ciudad:</label>
                                <select class="form-control" ng-model="sucursalVenta.empresas.codEmpresa" ng-options="e.codItem as e.nombreItem for e in empresasList"></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="guardarSucursalVenta_action();">
                            <i class="fa fa-check"></i>
                            Guardar
                        </button>
                        
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$('#agregarSucursalDialog').modal('hide');">
                            <i class="fa fa-times-circle"></i>
                            Cancelar
                        </button>
                    </div>
                    
                </div>

            </div>
        </form>
    </div>
    
    <div id="editarSucursalVentaDialog" class="modal fade" role="dialog">
        <form>
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-check-circle"></i> Editar Sucursal</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Nombre:</label>
                                <input class="form-control" ng-model="sucursalVenta.nombreSucursal" />
                            </div>
                            <div class="col-md-6">
                                <label>Direccion:</label>
                                <input  ng-model="sucursalVenta.direccionSucursal" class="form-control" />
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Telefono:</label>
                                <input  ng-model="sucursalVenta.telefonoSucursal" class="form-control"    />
                            </div>
                            <div class="col-md-6">
                                <label>Email:</label>
                                <input  ng-model="sucursalVenta.emailSucursal" class="form-control"    />
                            </div>
                        </div>
                        <div class="row show-grid">                                                    
                            <div class="col-md-6">
                                <label>Encargado:</label>
                                <input  ng-model="sucursalVenta.representante" class="form-control"    />
                            </div>
                            <div class="col-md-6">                            
                                <label>Empresa:</label>
                                <select class="form-control" ng-model="sucursalVenta.empresas.codEmpresa" ng-options="e.codItem as e.nombreItem for e in empresasList"></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="guardarEditarSucursalVenta_action();">
                            <i class="fa fa-check"></i>
                            Guardar
                        </button>
                        
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$('#editarSucursalVentaDialog').modal('hide');">
                            <i class="fa fa-times-circle"></i>
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    
    
    <div id="buscarSucursalVentaDialog" class="modal fade" role="dialog">
        <form>
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-search"></i> Buscar Sucursal</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row show-grid">                        
                            <div class="col-md-6">
                                <label>Nombre:</label>
                                <input class="form-control" ng-model="sucursalVentaBuscar.nombreSucursal" />
                            </div>
                            <div class="col-md-6">
                                <label>Direccion:</label>
                                <input  ng-model="sucursalVentaBuscar.direccionSucursal" class="form-control"    />
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <label>Telefono:</label>
                                <input  ng-model="sucursalVentaBuscar.telefonoSucursal" class="form-control"    />
                            </div>
                            <div class="col-md-6">                            
                                <label>Empresa:</label>
                                <select class="form-control" ng-model="sucursalVentaBuscar.empresas.codEmpresa" ng-options="e.codItem as e.nombreItem for e in empresasList"></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="buscarSucursalVenta_action();">Buscar</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
    
    <!-- alerta -->
      
      <div id="mensajeDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-search fa-1x"></i> Mensaje</h4>
                </div>
                <div class="modal-body">
                    <i class="fa fa-warning fa-5x"></i>
                    {{mensaje}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$('#mensajeDialog').dialog('hide');">Aceptar</button>
                </div>
            </div>

        </div>
    </div>
</section>
       